@media print {
    .inputArea {
        display: none;
    }
    .pageBreakAfter {page-break-after:always;}
    @page {size: auto; margin: 0em;}
}
#matchListTable tbody:nth-child(odd) tr:nth-child(odd) {
background-color: #ababab;
}
#matchListTable td {
padding:0.5em;
text-align: center;
}
.row {
padding-right: 0em;
}
li:nth-child(odd) { background: #ababab; }
#startDate {
    line-height: 2.8em;
}
html {
scroll-behavior: smooth;
}
.no-pad {padding: 0;}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}