#matchListTable tbody {
    display: block;
    margin: 1em auto;
    border-collapse: collapse;
}

#matchListTable tbody:nth-child(odd) tr:nth-child(odd) {
    background-color: #ababab;
}

#matchListTable td {
    padding:0.5em;
    text-align: center;
}

.row {
    margin-left: 0em;
}

li {
    height: auto;
    line-height: 0.5em;
}

li:nth-child(odd) { background: #ababab; }

html {
    scroll-behavior: smooth;
}